h1,h2,h3,div,p,input {font-family:'Raleway', helvetica, sans serif;}
h1 {font-size:36px; font-weight:700; line-height:42px;}
h2 {font-size:22px; font-weight:600; margin-bottom: 20px;}
h3 {font-size:18px; font-weight:600; margin-bottom: 20px;}
h4 {font-size:18px; font-weight:400; margin-bottom: 20px;}
input{font-weight:800;}