@import "compass";

html,body {
  height:100%;
}
  
  .container {
    display: table;
    font-family:'Raleway', helvetica, sans serif;
    height:100%; 
    left:50%;
    margin-left:-300px; 
    max-width: 660px;
    position:absolute; 
  
  .feature-container {
    display:table-cell;
    vertical-align:middle;
    
    .feature {
      display: table;
      vertical-align:middle; 
      
      .phone {
        background-image: url(/images/letterpress-cheats.png);
        float:left;
        height:600px;
        margin-right: 18px;
        width:309px;
        
        &:before {
          @include border-radius(50px);
          @include box-shadow(rgba(0, 0, 0, 0.65) 0px 6px 24px);
          background-color: rgba(0,0,0,0);
          content: '';
          display: block;
          height: 589px;
          left: 5px;
          margin-top: 4px;
          position: absolute;
          width: 300px;
          z-index: -1;
        }
        
        .screen {
          background-color: white;
          height: 382px;
          left: 25px;
          position:relative;
          top: 108px; 
          width: 256px;
          
          form {
            text-align: center;
            overflow: hidden;
            
            .input-row {
              margin-left: -5px;
              
              .input {
                background-color: #f2f2f2;
                border: none;
                color: #444;
                font-size: 32px;
                height: 49px;
                line-height: 36px;
                margin-right: -4px;
                text-align: center;
                text-transform: uppercase;
                width: 49px;
                
                &:nth-of-type(even) {
                  background-color: #eee;
                }
                
                &.first {
                  outline: none;
                }
              }
              
              &:nth-of-type(even) {
                .input {
                  background-color: #f2f2f2;
                  &:nth-of-type(odd) {
                    background-color: #eee;
                  }
                }
              }
            }
            
            .generate {
              background-color: #444;
              border: none;
              color: #fff;
              font-size: 24px;
              height: 60px;
              letter-spacing: 2px;
              margin: 20px auto;
              text-align: center;
              text-transform: uppercase;
              width: 200px;
            }
          }
        }
      }
      
      .description {
        @include text-shadow(rgba(0,0,0,0.15) 0px 3px 3px);
        display:table-cell;
        position: relative;
        vertical-align:middle; 

        .app-store-link {
          margin-top: 30px; display:block;
        }
      }        
    }
  }
}
